<a href="https://colab.research.google.com/github/Javalind21/TTP-summer---23/blob/main/Intro_To_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Pathon Basic

## String & and the print() function

In [ ]:
print("Hello World")
# In this line I am using the print() statement or method to print "Hi there" to the user

Hello World

In [ ]:
print(" There are two types of slashes: \\ and \ ")
#In this line I am using the print() function but due to backslashes being a command only the second backslash is printed from \\

 There are two types of slashes: \ and \

In [ ]:
print ("""
        This is a tab line
This is a regular line
""")
#This line uses the print function() which shows users the difference between a tabbed line and a normal line one key note is the tripe quotes.

        This is a tab line
This is a regular line

In [ ]:
print("\n\tThis is a tabbed line\nThis is a regular line")
#In this line we are using the print function now we are using the backslash commands to get the same results as the line above showing how useful it is and easy compared to the latter

	This is a tabbed line
This is a regular line

In [ ]:
print("First name " + "Last Name ")
#In this line we are using the print() function now we are using concatanation which is the plus sybmol to combine both strings first name and last we need to space the ending quotation to space both strings

First name Last Name

##Variables

In [ ]:
dogs = 3
cats = " Many Fluffy cats "
#In this line we start using variable an name that will hold a int - whole number, float - deceimal and negetive number, character - one letter, and string - a combination a muiltple character together

In [ ]:
dogs
#This line of code will display the value held in dogs onto the screen for the user,which is 3

3

In [ ]:
cats
#This line of code will display the value held in dogs onto the screen for the user,which is Many Fluffy cats

' Many Fluffy cats '

In [ ]:
type(dogs)
#This line of code we used the type fuction which tells the user what type of data is being held int,float,char,and string

int

In [ ]:
type(cats)
#This line of code we used the type fuction which tells the user what type of data is being held int,float,char,and string

str

In [ ]:
print(dogs)
#In this line we are using the print function to print the value held in dogs, which is 3

3

In [ ]:
hi = "Hello "
name = "John "
print(hi + name)
#In these lines of code we are making two variables that will are holding two strings with the print fuction and concatenation we can combine both variables with the plus sign +

Hello John

In [ ]:
more_dogs = 5

print(dogs + more_dogs )
#In these line of code we are making a new vaiable that will hold an int now with concatenation using two interger the print function will add the variables together and show the result of the math onto the screen

8

In [ ]:
price = 19.99
amount = 3
#In these line of code we are making two variable one have a float data tyoe another having a int data type

In [ ]:
print(price * amount)
#In this line we are using the print function which with the float and int data type will muiltple the number and show the result of the math on to the screen. Due to one variable have float and the other having int the result will be a float

59.97

In [ ]:
# Variable reassignment
dogs = "New Value"

print(dogs)
#In these lines of code we are providing a new data for the variable dogs to hole bfore it held 3 now it holds "New Value" when you use the print function the new value will show on screen for the user

New Value

In [ ]:
cats, dogs, rabbits = 2, 5, "cute"

print(dogs)
#In these lines of code we created three variables using one line cats, dogs, and rabbits are all variables that hold the data in the order they are in, so cats holds 2 dogs hold 5 and rabbits holds "cute"

5

## More Strings

###Indexing

In [ ]:
greeting = "Hello World!"
#In this line of code we are making a variable that holds the string data type "Hello World!"

In [ ]:
greeting
#In this line of code the variable is being called and the data it is holding will be shown to the user

'Hello World!'

In [ ]:
print(greeting[4])
#In this line of code we are using the print() fuction instead of printing the whole string we want the character at the  4th position using index. Index is the place the character is in if you start from zero and go to 4. We want to know what is at the 4th index using the [] we can put a number in between and ask for any index in this case 4 getting o.

o

In [ ]:
# The 3rd, the 5th, the 19th

In [ ]:
sentence = "My name is Javaughn Linsay and I work here"
#In this line of code we are creating a variable holding a string to use for indexing

In [ ]:
print(sentence[3])
print(sentence[5])
print(sentence[19])
#In these lines of code we are ask for the characcter at index 3, 5, and 19

n
m

In [ ]:
len(greeting)
#In this line we are using the len() function to get the length of the variable contents

12

In [ ]:
greeting[11]
#In this line we can get the last character of the variable because we ask for the length before so to get the last character you need to go one under

'!'

In [ ]:
greeting[-1]
#In this line we get the last index but instead of having to ask for the length forst we put -1 between the brackets because no matter the length -1 we always hold the last character because negeatives go from right to left

'!'

### String Formating

In [ ]:
price = 59.99
#In this we provide a new float data type for price to hold

In [ ]:
message = "Your product cost " + str(price) + " dollars"
#In this line we make a new variable that will hold price so we do not need to call price all the time and when price change so will message but do to price being float to would cause an error unless you use str() function to make it a string

In [ ]:
message
#In this line of code we see that price is now a string instead of a float which can be shown to the user if it was a string

'Your product cost 59.99 dollars'

In [ ]:
msg = "The product cost {} dollars" .format(price)
#In the line of code we make a variable that will shown the price as a string but instead of str() function we use .format() function which will but a placeholder for price as a string to replace the curly brackets with price

In [ ]:
msg
#In this line of code we show the user the string held in the variable msg and see that now the price is a string and the curly brackets are gone

'The product cost 59.99 dollars'

In [ ]:
amount = 3
total = amount * price
#In these lines of code we make two variable and int data type and total whoch we muiltple price and amount the result from a float and int will be float making total hold a float data type

In [ ]:
msg2 = "For {} products at the price of {}, the total will be: {} "
#In this line of code we make a in variable have the curly brackets inside meaning we can use .format() function to put any float and interger data type inside

In [ ]:
print(msg2.format(amount,price,total))
#In this line we ise the print() function and .format replacing the three curly brackets in msg2 with amount price and total in that order and shown it to the user

For 3 products at the price of 59.99, the total will be: 179.97

In [ ]:
msg3 = "For {2} products at a price of {0} the total is {1}"
#In this line we make a in variable have the curly brackets inside meaning we can use .format() function to put any float and interger data type inside, but now with numbers inside the brackets the 2 variable will be used then the first and finally the last.

In [ ]:
print(msg3.format(price,total,amount))
#In this line we ise the print() function and .format replacing the three curly brackets in msg3 with amount price and total in that order and shown it to the user, but amount will be replace the first bracket then total and then price. Cause of the number used in msg3 defining what variable in the order will replace the brackets

For 3 products at a price of 59.99 the total is 179.97

#### The 'f-String ' Method

In [ ]:
price = 19.99
items = 3
#In these line of code we replace of variable and make a new one the replace variable will hold a new float and the new variable holds an interger

In [ ]:
msg = f"This individual product is {price}"
#In this line change a string variable to now have the new price in which cause an error because it is float and the variabel contain needs to be string but using f-string the price will change to a string for the variable, which makes lines easier for coders

In [ ]:
msg
#In this line of code we show the data being held in msg and see the price was a float is now a string

'This individual product is 19.99'

In [ ]:
msg2 = f" The total for your purchase is {price * items} "
#In this line of code we replace the contain of a variable now using f-srting to convert the product of price and item and put that as astring to use for the variable

In [ ]:
msg2
#In this line of code we see that the product of price and items was coverted into a string and can be shown to the user when the variable is called

' The total for your purchase is 59.97 '

#### String Function

In [ ]:
dir(msg)
#This function lets us see the directory or library of functions we can use for strings

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [ ]:
msg
#This variable call allows the user to see the string contained in the variable

'This individual product is 19.99'

In [ ]:
msg = "Hello my name is Bob"
#We are replacing the content of our variable msg with Hello my name is Bob which is a string

In [ ]:
words = msg.split(" ")
#We are calling the split() function that will break the string apart for each space between them. Make sure you know that the split() function turn strings into a list or array

In [ ]:
print(words)
#After using the split() function we then use the print() function to see the our old string was turn into a list

['Hello', 'my', 'name', 'is', 'Bob']

In [ ]:
elements = msg.split("e")
#We are using the split() function again to break up the string where an "e" is in the string

In [ ]:
print(elements)
#After using the split() function we then use the print() function to see the our old string was turn into a list. Now all the "e" are gone

['H', 'llo my nam', ' is Bob']

In [ ]:
print(msg.upper())
#We use the upper() function to turn all the characters in the msg string uppercased

HELLO MY NAME IS BOB

In [ ]:
print(msg.lower())
#We use the upper() function to turn all the characters in the msg string lowercased

hello my name is bob

## The Input Method

In [ ]:
data = input("What is your name: ")
print(f"Hello {data}, hope your day is great! ")
#We are now using inputs which are given from the user. THe program will stop until an answer is given then the answer from the user will be stored in our variable data. The data will then be printed by the print() function

What is your name: ben
Hello ben, hope your day is great!

In [ ]:
num = int(input("Enter a number: "))
print(num)
#We are using the input variable

Enter a number: 12
12

In [ ]:
type(num)

int

In [ ]:
name = input("What is your name: ")
age = input("How old are you: ")
address = input("Where do you live ")
print(f"Hello {name}. Plesure to meet you! You're {age} years old and you live in {address}. ")

What is your name: e
How old are you: 19
Where do you live 22
Hello e. Plesure to meet you! You're 19 years old and you live in 22.

##Numbers

In [ ]:
cats = 7
money = -37.50
x = 2+5j
message = "Hello Alice"

In [ ]:
print(type(money))
print(type(money))
print(type(x))
print(type(message))

<class 'float'>
<class 'float'>
<class 'complex'>
<class 'str'>

In [ ]:
a = 6
b = 2.5
print ()

###Conversion

In [ ]:
value = 3.5
print(value)
conversion = int(value)
print(conversion)

3.5
3

In [ ]:
value = 78
print(value)
conversion = float(value)
print(conversion)
print(type(conversion))

78
78.0
<class 'float'>

In [ ]:
value = 38
print(value)
conversion = complex(value)
print(conversion)
print(type(conversion))

38
(38+0j)
<class 'complex'>

In [ ]:
value = 28.4875
print(value)
conversion = str(value)
print(conversion)
print(type(conversion))

28.4875
28.4875
<class 'str'>

In [ ]:
data = input("Enter a value: ")
print(int(data))
print(float(data))
print(complex(data))
print(str(data))

Enter a value: 2
2
2.0
(2+0j)
2

In [ ]:
pi = 3.14159
print(int(pi))
print(float(pi))
print(complex(pi))
print(str(pi))

3
3.14159
(3.14159+0j)
3.14159

###Operations

####The "Modulus Operation"

In [ ]:
print(259 / 4)

64.75

In [ ]:
print(259 % 4)

3

####The Power Operator

In [ ]:
print(9 ** 4)

6561

In [ ]:
2 ** 2

4

####The Floor Operator

In [ ]:
print(9//4)

2

#### Assignment Operator

In [ ]:
x = 9

In [ ]:
x+= 4
print(x)

13

In [ ]:
x-=4
print(x)

9

In [ ]:
x*=4
print(x)

36

In [ ]:
x /= 4
print(x)

9.0

In [ ]:
x = float(input("Enter the first number: "))
y = float(input("Enter second value: "))
print(float(x + y))
print(float(x-y))
print(float(x*y))
print(float(x / y))

Enter the first number: 2
Enter second value: 3
5.0
-1.0
6.0
0.6666666666666666

#### Boolean Operator

In [ ]:
is_day = True
is_night = False
print(is_day)
print(is_night)

True
False

####Comparison Operator

In [ ]:
x,y = 9,25

In [ ]:
print(x==y) # Is x equal to y

False

In [ ]:
print(x != y)

True

In [ ]:
print(x > y)

False

In [ ]:
print(x < y)

True

In [ ]:
print(x >= y)

False

In [ ]:
print(x <= y)

True

####Logical Operataor

##### The "and" Operator

In [ ]:
print(x > 5 and y < 30)

True

#####The "or" Operator

In [ ]:
print(x > 10 and y < 30)

False

#####The "Not" Operator

In [ ]:
print(not(x > 5))
print(not(x<5))

False
True

#####Identity Operator

In [ ]:
#print("cat " is "cat")
print("cat" == "cat")

True

In [ ]:
print("cat" is "dog")

False

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-183-9f4bc4f665ad>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  print("cat" is "dog")

In [ ]:
print("cat " is not "cat")

True

<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<ipython-input-184-bdc96e45a86d>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  print("cat " is not "cat")

In [ ]:
print("cat" is not "dog")

True

<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<ipython-input-185-5594a05aa962>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  print("cat" is not "dog")

In [ ]:
fruit = "banana"
print("na" in fruit)
print("na" not in fruit)

True
False

##Collection Data Type

###Lists

In [ ]:
numbers = [3, 7, 5, 4, 7, 5, 6, 3, 3, 3, 3 ]
print(numbers)
print(numbers[1])
print(numbers[-1])

[3, 7, 5, 4, 7, 5, 6, 3, 3, 3, 3]
7
3

In [ ]:
names = ["Alice", "Bob", "Carol", "Dan"]
print(names[0])
print(names[2])

Alice
Carol

In [ ]:
print(names[0][1])

l

In [ ]:
print(names[1:3])

['Bob', 'Carol']

In [ ]:
print(names[0:4])

['Alice', 'Bob', 'Carol', 'Dan']

In [ ]:
print(names[0:-1])

['Alice', 'Bob', 'Carol']

In [ ]:
print(names[0:])

['Alice', 'Bob', 'Carol', 'Dan']

In [ ]:
string = "Olivia"

In [ ]:
string[2]

'i'

In [ ]:
#string[2] = 5

In [ ]:
names = ["Alice", "Bob", "Carol", "Dan"]
print(names)
names[1] = "Bobby"
print(names)

['Alice', 'Bob', 'Carol', 'Dan']
['Alice', 'Bobby', 'Carol', 'Dan']

In [ ]:
#Enter 10 items
data = input("Write 10 items space bewteen each : ")
data2 = data.split(" ")
print(data2)

Write 10 items space bewteen each : Dog Smog Fog
['Dog', 'Smog', 'Fog']

####Nested List

In [1]:
matrix =[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [2]:
print(matrix)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [3]:
print(matrix[1][2])

6

In [4]:
print(matrix[2][0])

7

In [ ]:
matrix = [[[1, 2], [3, 4, 5, 6]]]

####List Function

In [5]:
pets = ["cats", "dogs", "parrots"]
print(len(pets))

3

In [6]:
print(pets)
pets.append("fish")
print(pets)

['cats', 'dogs', 'parrots']
['cats', 'dogs', 'parrots', 'fish']

In [7]:
dir(pets)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [8]:
pets.insert(1, "hamster")
print(pets)

['cats', 'hamster', 'dogs', 'parrots', 'fish']

In [9]:
print("cats" in pets)

True

In [10]:
print("tiger" in pets)

False

In [11]:
pets.remove("fish")
print(pets)

['cats', 'hamster', 'dogs', 'parrots']

In [12]:
pets.remove(pets[3])
print(pets)

['cats', 'hamster', 'dogs']

In [13]:
pets.pop()

'dogs'

In [14]:
pets.pop(0)

'cats'

In [15]:
pets = ["cats", "dogs", "parrots"]

In [16]:
del pets[1]

In [17]:
pets

['cats', 'parrots']

In [19]:
pets.clear()

In [20]:
pets

[]

In [21]:
pets

[]

In [22]:
pets = None

###Iterators

In [23]:
my_cats = "Fluffy"
my_iterators = iter(my_cats)

In [24]:
print(next(my_iterators))

F

In [25]:
print(next(my_iterators))

l

In [26]:
print(next(my_iterators))

u

###Tuples

In [28]:
my_desk = ("laptop", "mouse", "paper", "pen")
print(my_desk)
print(type(my_desk))

('laptop', 'mouse', 'paper', 'pen')
<class 'tuple'>

In [29]:
my_desk = ("laptop", "mouse", "paper", "pen")
new_desk = my_desk[1:3]
print(new_desk)
print(type(new_desk))

('mouse', 'paper')
<class 'tuple'>

In [30]:

new_desk = my_desk + ("coffee",)
print(new_desk)
print(type(new_desk))

('laptop', 'mouse', 'paper', 'pen', 'coffee')
<class 'tuple'>

In [31]:
my_desk_list = list(my_desk)

In [32]:
my_desk_list.append("phone")
new_desk = tuple(my_desk_list)
print(new_desk)
print(type(new_desk))

('laptop', 'mouse', 'paper', 'pen', 'phone')
<class 'tuple'>

In [33]:
new_desk

('laptop', 'mouse', 'paper', 'pen', 'phone')

In [34]:
type(new_desk)

tuple

In [36]:
#new_desk.append("pencil")
new_desk = my_desk + ("pencil", )

#### Tupple use cases

In [37]:
db = ("Oracle", "SQL")

In [40]:
new_db = db + ("username", "password")
print(new_db)
print(type(db))

('Oracle', 'SQL', 'username', 'password')
<class 'tuple'>

In [42]:
friend1 = ("Alex", 25, False)
friend2 = ("Diane", 23, False)
friend3 = ("Micheal", 32, True)

In [43]:
print(friend1)
print(friend2)
print(friend3)

('Alex', 25, False)
('Diane', 23, False)
('Micheal', 32, True)

In [ ]:
#friend2 = ("Erica") +

###Sets

In [44]:
days = {"Mon", "Tues", "Wed", "Thur", "Fri", "Tues", "Tues"}

In [45]:
type(days)

set

In [46]:
print(days)

{'Mon', 'Fri', 'Wed', 'Tues', 'Thur'}

In [47]:
dir(set)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

####Updating Sets

In [48]:
days ={"Mon", "Tue", "Wes"}
days.add("Thur")
print(days)

{'Mon', 'Thur', 'Tue', 'Wes'}

In [50]:
days.update(["Fri", "Sat", "Tue"])
print(days)

{'Mon', 'Wes', 'Thur', 'Fri', 'Tue', 'Sat'}

In [51]:
days.remove("Mon")
print(days)

{'Wes', 'Thur', 'Fri', 'Tue', 'Sat'}

In [52]:
days.pop()
print(days)

{'Thur', 'Fri', 'Tue', 'Sat'}

In [53]:
days.clear()
print(days)

set()

In [56]:
#del days
#print days

### Dictionaries

In [70]:
my_cat = {
    "name" : "Fluffy",
    "age" : 2,
     "color":"black"

}

In [64]:
type(my_cat)

dict

In [65]:
dir(my_cat)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [66]:
print(my_cat["name"])

Fluffy

In [71]:
print(my_cat.get("age"))

2

In [72]:
print(my_cat.values())

dict_values(['Fluffy', 2, 'black'])

In [73]:
print(my_cats.keys())

dict_keys(['name', ' age', 'color'])

In [74]:
print(my_cat.items())

dict_items([('name', 'Fluffy'), ('age', 2), ('color', 'black')])

In [75]:
print("name" in my_cat)

True

In [76]:
print("Fluffyness" in my_cat)

False

####Updating and Functions Dictionaries

In [77]:
print(my_cat)
my_cat["gender"] = "male"
print(my_cat)

{'name': 'Fluffy', 'age': 2, 'color': 'black'}
{'name': 'Fluffy', 'age': 2, 'color': 'black', 'gender': 'male'}

In [78]:
my_cat.pop("color")
print(my_cat)

{'name': 'Fluffy', 'age': 2, 'gender': 'male'}

In [80]:
my_cat.popitem()
print(my_cat)

{'name': 'Fluffy', 'age': 2}

In [ ]:
#my_cat.clear()
#print(my_cat)

In [ ]:
#del my_cat
#print(my_cat)

####Nesting Dictionaries