<a href="https://colab.research.google.com/github/Javalind21/TTP-summer---23/blob/main/Intro_To_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Pathon Basic

## String & and the print() function

In [ ]:
print("Hello World")
# In this line I am using the print() statement or method to print "Hi there" to the user

Hello World

In [ ]:
print(" There are two types of slashes: \\ and \ ")
#In this line I am using the print() function but due to backslashes being a command only the second backslash is printed from \\

 There are two types of slashes: \ and \

In [ ]:
print ("""
        This is a tab line
This is a regular line
""")
#This line uses the print function() which shows users the difference between a tabbed line and a normal line one key note is the tripe quotes.

        This is a tab line
This is a regular line

In [ ]:
print("\n\tThis is a tabbed line\nThis is a regular line")
#In this line we are using the print function now we are using the backslash commands to get the same results as the line above showing how useful it is and easy compared to the latter

	This is a tabbed line
This is a regular line

In [ ]:
print("First name " + "Last Name ")
#In this line we are using the print() function now we are using concatanation which is the plus sybmol to combine both strings first name and last we need to space the ending quotation to space both strings

First name Last Name

##Variables

In [ ]:
dogs = 3
cats = " Many Fluffy cats "
#In this line we start using variable an name that will hold a int - whole number, float - deceimal and negetive number, character - one letter, and string - a combination a muiltple character together

In [ ]:
dogs
#This line of code will display the value held in dogs onto the screen for the user,which is 3

3

In [ ]:
cats
#This line of code will display the value held in dogs onto the screen for the user,which is Many Fluffy cats

' Many Fluffy cats '

In [ ]:
type(dogs)
#This line of code we used the type fuction which tells the user what type of data is being held int,float,char,and string

int

In [ ]:
type(cats)
#This line of code we used the type fuction which tells the user what type of data is being held int,float,char,and string

str

In [ ]:
print(dogs)
#In this line we are using the print function to print the value held in dogs, which is 3

3

In [ ]:
hi = "Hello "
name = "John "
print(hi + name)
#In these lines of code we are making two variables that will are holding two strings with the print fuction and concatenation we can combine both variables with the plus sign +

Hello John

In [ ]:
more_dogs = 5

print(dogs + more_dogs )
#In these line of code we are making a new vaiable that will hold an int now with concatenation using two interger the print function will add the variables together and show the result of the math onto the screen

8

In [ ]:
price = 19.99
amount = 3
#In these line of code we are making two variable one have a float data tyoe another having a int data type

In [ ]:
print(price * amount)
#In this line we are using the print function which with the float and int data type will muiltple the number and show the result of the math on to the screen. Due to one variable have float and the other having int the result will be a float

59.97

In [ ]:
# Variable reassignment
dogs = "New Value"

print(dogs)
#In these lines of code we are providing a new data for the variable dogs to hole bfore it held 3 now it holds "New Value" when you use the print function the new value will show on screen for the user

New Value

In [ ]:
cats, dogs, rabbits = 2, 5, "cute"

print(dogs)
#In these lines of code we created three variables using one line cats, dogs, and rabbits are all variables that hold the data in the order they are in, so cats holds 2 dogs hold 5 and rabbits holds "cute"

5

## More Strings

###Indexing

In [ ]:
greeting = "Hello World!"
#In this line of code we are making a variable that holds the string data type "Hello World!"

In [ ]:
greeting
#In this line of code the variable is being called and the data it is holding will be shown to the user

'Hello World!'

In [ ]:
print(greeting[4])
#In this line of code we are using the print() fuction instead of printing the whole string we want the character at the  4th position using index. Index is the place the character is in if you start from zero and go to 4. We want to know what is at the 4th index using the [] we can put a number in between and ask for any index in this case 4 getting o.

o

In [ ]:
# The 3rd, the 5th, the 19th

In [ ]:
sentence = "My name is Javaughn Linsay and I work here"
#In this line of code we are creating a variable holding a string to use for indexing

In [ ]:
print(sentence[3])
print(sentence[5])
print(sentence[19])
#In these lines of code we are ask for the characcter at index 3, 5, and 19

n
m

In [ ]:
len(greeting)
#In this line we are using the len() function to get the length of the variable contents

12

In [ ]:
greeting[11]
#In this line we can get the last character of the variable because we ask for the length before so to get the last character you need to go one under

'!'

In [ ]:
greeting[-1]
#In this line we get the last index but instead of having to ask for the length forst we put -1 between the brackets because no matter the length -1 we always hold the last character because negeatives go from right to left

'!'

### String Formating

In [ ]:
price = 59.99
#In this we provide a new float data type for price to hold

In [ ]:
message = "Your product cost " + str(price) + " dollars"
#In this line we make a new variable that will hold price so we do not need to call price all the time and when price change so will message but do to price being float to would cause an error unless you use str() function to make it a string

In [ ]:
message
#In this line of code we see that price is now a string instead of a float which can be shown to the user if it was a string

'Your product cost 59.99 dollars'

In [ ]:
msg = "The product cost {} dollars" .format(price)
#In the line of code we make a variable that will shown the price as a string but instead of str() function we use .format() function which will but a placeholder for price as a string to replace the curly brackets with price

In [ ]:
msg
#In this line of code we show the user the string held in the variable msg and see that now the price is a string and the curly brackets are gone

'The product cost 59.99 dollars'

In [ ]:
amount = 3
total = amount * price
#In these lines of code we make two variable and int data type and total whoch we muiltple price and amount the result from a float and int will be float making total hold a float data type

In [ ]:
msg2 = "For {} products at the price of {}, the total will be: {} "
#In this line of code we make a in variable have the curly brackets inside meaning we can use .format() function to put any float and interger data type inside

In [ ]:
print(msg2.format(amount,price,total))
#In this line we ise the print() function and .format replacing the three curly brackets in msg2 with amount price and total in that order and shown it to the user

For 3 products at the price of 59.99, the total will be: 179.97

In [ ]:
msg3 = "For {2} products at a price of {0} the total is {1}"
#In this line we make a in variable have the curly brackets inside meaning we can use .format() function to put any float and interger data type inside, but now with numbers inside the brackets the 2 variable will be used then the first and finally the last.

In [ ]:
print(msg3.format(price,total,amount))
#In this line we ise the print() function and .format replacing the three curly brackets in msg3 with amount price and total in that order and shown it to the user, but amount will be replace the first bracket then total and then price. Cause of the number used in msg3 defining what variable in the order will replace the brackets

For 3 products at a price of 59.99 the total is 179.97

#### The 'f-String ' Method

In [3]:
price = 19.99
items = 3
#In these line of code we replace of variable and make a new one the replace variable will hold a new float and the new variable holds an interger

In [ ]:
msg = f"This individual product is {price}"
#In this line change a string variable to now have the new price in which cause an error because it is float and the variabel contain needs to be string but using f-string the price will change to a string for the variable, which makes lines easier for coders

In [ ]:
msg
#In this line of code we show the data being held in msg and see the price was a float is now a string

'This individual product is 19.99'

In [4]:
msg2 = f" The total for your purchase is {price * items} "
#In this line of code we replace the contain of a variable now using f-srting to convert the product of price and item and put that as astring to use for the variable

In [5]:
msg2
#In this line of code we see that the product of price and items was coverted into a string and can be shown to the user when the variable is called

' The total for your purchase is 59.97 '